@media (max-width: 360px) and (orientation: portrait){ 
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden; 
    }
    #navVertical{
        display: none;
    }
    main{
        bottom: 0%;
        width: 100%;
        left: 0%;
    }
    #inicio #grid{
        position: relative;
        left: 17%;
    }
    h1, h1 a{
        left: 25%;
    }
    header img{
        left: 27%;
    }
    footer{
        bottom: 0px;
    }
    #pageCard #grid{
        left: 0%;
    }
    #pageCard #imgCard{
        width: 100% !important;
    }
    #pageCard #cardComprar{
        width: 80% !important;
        left: 0px;
    }
    #cardBodyComprar{
        position: relative !important;
        bottom: 50px !important;
    }
    #parTruck{
        display: none;
    }
    .precoCar{
        position: relative;
        left: 25.5%;
        bottom: 31%;
    }
    #frete{
        height: 120px;
    }
    #frete input{
        position: relative;
        top: 30px;
        right: 100px;
    }
    #frete .btn{
        position: relative;
        left: 200px;
        bottom: 4px;
    }
    #inputCep{
        left: 1%;
    }
    #botoes{
        left: 30%;
    }
}
@media (max-width: 640px) and (orientation: landscape){ 
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden; 
    }
    #navVertical{
        display: none;
    }
    main{
        bottom: 0%;
        width: 100%;
        left: 0%;
    }
    #inicio #grid{
        position: relative;
        left: 0%;
    }
    h1, h1 a{
        left: 35%;
    }
    header img{
        left: 38%;
    }
    footer{
        bottom: 0px;
    }
    #pageCard #cardComprar{
        width: 70% !important;
        left: 0px;
    }
    #cardBodyComprar{
        position: relative !important;
        bottom: 50px !important;
    }
    #frete{
        height: 100px;
    }
    #inputCep{
        left: 0%;
    }
    #botoes{
        left: 60%;
    }
}
@media (min-width: 361px) and (max-width: 414px) and (orientation: portrait){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden; 
    }
    #navVertical{
        display: none;
    }
    main{
        bottom: 0%;
        width: 100%;
        left: 0%;
    }
    #inicio #grid{
        position: relative;
        left: -2%;
    }
    h1, h1 a{
        left: 25%;
    }
    header img{
        left: 27%;
    }
    footer{
        bottom: 0px;
    }
    #pageCard #grid{
        left: 0%;
    }
    #pageCard #imgCard{
        width: 100% !important;
    }
    #pageCard #cardComprar{
        width: 80% !important;
        left: 0px;
    }
    #cardBodyComprar{
        position: relative !important;
        bottom: 50px !important;
    }
    #parTruck{
        display: none;
    }
    .precoCar{
        position: relative;
        left: 22.5%;
        bottom: 31%;
    }
    #precoCarAm{
        left: -38.5%;
        top: 23%;
    }
    #frete{
        height: 120px;
    }
    #frete input{
        position: relative;
        top: 30px;
        right: 100px;
    }
    #frete .btn{
        position: relative;
        left: 200px;
        bottom: 4px;
    }
    #inputCep{
        left: 1%;
    }
    #botoes{
        left: 30%;
    }  
}
@media (min-width: 641px) and (max-width: 731px) and (orientation: landscape){ 
    html{
        overflow-x: hidden;
    }
    body, p{
        margin: 0 !important;
    }
    #navVertical{
        display: none;
    }
    main{
        width: 100%;
    }
    #inicio #grid{
        position: relative;
        left: 0%;
    }
    h1, h1 a{
        left: 35%;
    }
    header img{
        left: 38%;
    }
    footer{
        bottom: 0px;
    }
    #pageCard #cardComprar{
        width: 70% !important;
        left: 0px;
    }
    #cardBodyComprar{
        position: relative !important;
        bottom: 50px !important;
    }
    #frete{
        height: 60px;
    }
    #inputCep{
        left: 5%;
    }
    #botoes{
        left: 60%;
    }
}
@media (min-width: 361px) and (max-width: 375px) and (orientation: portrait){
    main #grid{
        left: 18% !important;
    }
    #pageCard #grid{
        left: -0% !important;
    }
    #pageCard #imgCard{
        width: 100% !important;
    }
    #pageCard #cardComprar{
        width: 80% !important;
    }
    #cardBodyComprar{
        position: relative !important;
        bottom: 50px !important;
    }
}
@media (min-width: 641px) and (max-width: 667px) and (orientation: landscape){
    #inputCep{
        left: 0%;
    }
    #frete{
        height: 90px;
    }
}
@media (min-width: 732px) and (max-width: 1024px) and (orientation: landscape){
    html, body, p{
        margin: 0;
    }
    #navVertical{
        display: inline-block;
        position: relative;
        top: 0px;
        bottom: 0px;
    }
    #carrinhoMain{
        left: 0%;
    }
    #inputCep{
        left: 30%;
    }
}
@media (min-width: 732px) and (max-width: 768px) and (orientation: portrait){
    html, body, p{
        margin: 0;
    }
    #navVertical{
        display: inline-block;
        position: relative;
        top: 0px;
        bottom: 0px;
    }
    main{
        left: 22%;
        bottom: 420px;
    }
    #carrinhoMain{
        left: 0%;
    }
    #inputCep{
        left: 30%;
    }
}