main{
    width: 100% !important;
    bottom: 0px !important;
    left: 0px;
}
h2{
    position: relative;
    margin-top: 10px;
    left: 39%;
}
.carCard{
    display: inline-block;
    width: 99.7%;
    height: 6rem;
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(40, 40, 44);
    color: white;
    margin-left: 2px;
    margin-top: 15px;
    border:0.5px solid rgb(94, 93, 104); 
}
.carCard img{
    height: 80px;
    width: 80px;
    margin-top: 6px;
    margin-left: 6px;
}
.carCard p{
    display: inline-block;
}
#frete{
    border:0.5px solid rgb(94, 93, 104); 
    background-color: rgb(12, 12, 27);
    border-radius: 4px 4px 4px 4px;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 99.7%;
    height: 3rem;
}
#frete p{
    display: inline-block;
    position: relative;
    top: 10%;
    margin-left: 15px;
}
#frete p img{
    position: relative;
    bottom: 3px;
}
#inputCep{
    left: 50%;
}
#botoes{
    position: relative;
    left: 70.6%;
    margin-bottom: 14px;
}
footer{
    bottom: 10px !important;
}