@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap&family=Open+Sans&display=swap');
html{
    overflow-x: hidden;
}
body, p{
    margin: 0 !important;
}
body{
    background-color: rgb(20, 20, 20);
}
header, #navHorizontal, #navVertical, main, footer{
    background-color: rgb(32, 32, 32);
    border:0.5px solid rgb(94, 93, 104); 
}
header{
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 20px;
    height: 80px;
    border-top: none;
}
header img{
    height: 70px;
    position: relative;
    left: 43%;
    top: 6px;
    z-index: 1;
}
h1, h1 a{
    font-family: 'Paytone One', sans-serif;
    margin: 0;
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 40%;
    top: 7px;
    z-index: 2;
}
h1 a:hover{
    color: white;
}
#navHorizontal, #navVertical, main, footer{
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#navHorizontal{
    height: 50px;
}
#navHorizontal .nav-link, #navVertical .nav-link{
    color: white !important;
}
#navVertical{
    display: inline-block;
    width: 20%;
    height: 400px;
    margin-right: 20px;
    position: relative;
    bottom: 40px;
}
#navEstilo{
    background-color: rgb(40, 40, 44);
    border-bottom:0.5px solid rgb(94, 93, 104); 
    border-radius: 4px 4px 0px 0px;
    height: 40px;
    color: white;
}
#navVertical ul li .nav-link{
    border:0.5px solid rgb(94, 93, 104);  
    border-left: none;
    border-right: none;
    border-top: none;
}
main{
    display: inline-block;
    width: 78%;
    height: auto;
    position: relative;
}
.card{
    width: 11rem !important;
    height: 23rem !important;
    background-color: rgb(40, 40, 44);
    color: white;
    margin-left: 15px;
    margin-top: 15px;
    border:0.5px solid rgb(94, 93, 104); 
    margin-bottom: 14px;
}
.card-Body a{
    background-color: rgb(94, 93, 104) !important;
}
.card-body a img{
    height: 25px;
    width: 25px;
    position: relative;
    bottom: 2px;
}
footer{
    position: relative;
    border-radius: 4px 4px 4px 4px;
    bottom: 40px;
    height: 50px;
}
footer p{
    text-align: right;
}