h2{
    position: relative;
    left: 3%;
    top: 10px;
}
#grid{
    position: relative;
    left: 8%;
}
#imgCard{
    width: 100% !important;
    height: 94% !important;
}
#imgComprar{
    border:0.5px solid rgb(94, 93, 104); 
    background-color: rgb(12, 12, 27);
    color: white;
    text-decoration: none;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    width: 100%;
}
#cardComprar{
    height: 50% !important;
    left: 25%;
}
#cardBodyComprar{
    position: relative;
    top: 30px;
}
#cardDescricao{
    height: auto !important;
    width: 95% !important;
}
#descricao{
    color: white;
    border-bottom:0.5px solid rgb(94, 93, 104); 
    background-color: rgb(12, 12, 27);
}
#descricaoTexto{
    color: white;
    background-color: rgb(40, 40, 44);
}
#descricaoTexto p{
    margin-bottom: 10px;
}
#navVertical{
    bottom: 640px;
}
#tameFooter{
    bottom: 0px;
}